# Elasticsearch Cluster
ES_CLUSTER_NAME=logserver-cluster
ES_VERSION=8.17.4
ES_NODE1_IP=10.10.188.8
ES_NODE2_IP=10.10.191.16
ES_NODE3_IP=10.10.191.17
ES_ELASTIC_PASSWORD=changeme

# Kibana
KIBANA_ENCRYPTION_KEY=changeme32charslongsecretkey1234

# Buffer Servers
BUFFER_A_IP=10.10.187.11
BUFFER_B_IP=10.10.191.15
REDIS_PASSWORD=changeme

# Logstash
LOGSTASH_VERSION=8.17.4
REDIS_VERSION=7.4

# Beats
BEATS_VERSION=8.17.4
